{%extends 'base.html'%}
{%load static%}
{%load crispy_forms_tags%}
{% block title%}Cadastrar usuário{% endblock %}
{%block conteudo%}
<link rel = "stylesheet" href = {% static 'css/estilos_conta.css'%} >
<div class="container col-md-6" style="margin-top:8%">
    <div class="jumbotron">
        <div class="container">
          <h1>Crie sua conta!</h1>
          <p>Desfrute dos benefícios da divulgação de seus imóveis.</p>
          
    <form class="needs-validation" novalidate method = "post" action = {%url 'criar_conta'%}> 
        {%csrf_token%}
        <div class="container"> 
            {{form|crispy}}
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
</div>
</div>
</div>

{%endblock%}