{% extends 'base2.html' %}
{%block titulo%}Alugajha{%endblock%}
{%load static%}
{%block conteudo%}


<div class="container  ">
    <div class="row ">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1 class="m-b-20 title-blog text-md-center"><strong>Bem vindo à Alugajha</strong></h1>
                <p class="m-b-40">Experimente a plataforma: divulgue seus próprios imóveis ou encontre algum que lhe
                    satisfaça</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="row">
        {% for anuncio in object_list %}
        <div class="col-md-6 col-lg-4 col-xl-4">
            <div class="blog-box">
                <div class="blog-img">
                    <h2><b>{{anuncio.titulo}}</b></h2>
                    <img class="img-fluid" src={{anuncio.foto.url}}>
                </div>
                <div class="blog-content">
                    <div class="title-blog">
                        <h3>Localizado em: {{anuncio.localizacao}}. Pertencente a: {{anuncio.locador}}</h3>
                        <p><a class="btn" style="background-color:#81B71A; color:white;"
                                href="{%url 'imovel' anuncio.id%}" role="button">Ver detalhes &raquo;</a></p>

                    </div>

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
</div>
<br>
{%endblock%}
{%block footer%}
<div class="footer-copyright">
    <p class="footer-company">Todos os direitos reservados. &copy; 2022 <a href="#">Alugajha</a></p>
</div>
{%endblock%}